<h1>Angular</h1>

<!-- 
<h2>Courses</h2>
<div class="indent"><app-courses></app-courses></div>

<h2>Authors</h2>
<div class="indent"><app-authors></app-authors></div>

<h2>Data And Events</h2>
<div class="indent">
  <app-data-and-events></app-data-and-events>
  <app-course></app-course>
</div> -->

<!-- <app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite> -->
<!-- <app-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some Content here...</p>
  </div>
</app-panel> -->

<!-- <app-twitterlike  [isLiked]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-twitterlike> -->
<!-- <app-directives></app-directives> -->

<!-- <zippy title="Shipping Details">
  Shipping Details Content
</zippy> -->

<app-contact-form></app-contact-form>