
  <mat-checkbox 
  #showDetails
  [value]=""
  [checked]="isChecked"
  (change)="onChange($event)"
  color="primary">Show Details</mat-checkbox>

  <div *ngIf="showDetails.checked">Some details....</div>
<br /><br/>

  <mat-radio-group value="0">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="0">Female</mat-radio-button>
  </mat-radio-group>
  <br /><br/>

  <mat-form-field>
    <mat-select [(ngModel)]="color">
      <mat-option *ngFor="let color of colors" [value]="color.id">{{ color.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br /><br/>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input ngModel #username="ngModel" name="username" type="text" item-width="900px" matInput placeholder="Username" required>
    <mat-hint>Type a unique username</mat-hint>
    <span matSuffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error *ngIf="username.invalid && username.errors['required']">
      The username field is required
    </mat-error>
  </mat-form-field>
  <br /><br/>
  <mat-form-field class="example-full-width">
    <textarea matInput matTextareaAutosize rows="2"></textarea>    
  </mat-form-field>
</form>  <br /><br/>
<mat-form-field>
  <input 
    (focus)="birthdate.open()"
    [min]="minDate"
    [max]="maxDate"
    matInput [matDatepicker]="birthdate" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
  <mat-datepicker #birthdate touchUi="true"></mat-datepicker>
</mat-form-field>
<br /><br/>
<mat-icon>add_alert</mat-icon>
<br /><br/>
<button mat-button>Button 1</button>
<button color="primary" mat-raised-button>Primary</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="warn" mat-raised-button>Warn</button>
<button mat-fab><mat-icon>check</mat-icon></button>

<br /><br/>

<mat-chip-list>
  <mat-chip color="accent">One</mat-chip>
  <mat-chip>Two</mat-chip>
</mat-chip-list>
<br/>
<mat-chip-list>
  <mat-chip *ngFor="let cat of categories" (click)="selectCategory(cat)" [selected]="cat.selected">{{ cat.name }}</mat-chip>
</mat-chip-list>

<br /><br/>

<mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
<mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>

<br /><br/>

<span matTooltip="Here is my tooltip" matTooltipPosition="right">Some Text</span>

<br /><br/>

<mat-tab-group>
  <mat-tab label="Billing">Content of the Billing Tab</mat-tab>
  <mat-tab label="Shipping">Content of the Shipping Tab</mat-tab>
</mat-tab-group>

<br /><br/>

<button 
  (click)="openDialog()"
  mat-raised-button>Open Dialog</button>
  
<br /><br/>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<p>This is some content and stuff to show off Roboto!</p>