<!-- <form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input required minlength="3" maxlength="10" pattern="banana" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)"
        id="firstName" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors['required']">
          First Name is required
        </div>
        <div *ngIf="firstName.errors['minlength']">
          First Name should be minimum of {{ firstName.errors['minlength'].requiredLength }} characters
        </div>
        <div *ngIf="firstName.errors['pattern']">
          First Name doesn't match the pattern
        </div>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
      <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
    </select>
  </div>
  <div *ngFor="let method of contactMethods" class="radio">
    <label>
      <input ngModel type="radio" name="contactMethod" [value]="method.id">
      {{ method.name }}
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form> -->

<!-- THIS IS THE ASSIGNMENT -->
<form #courseForm="ngForm">
  <div ngModelGroup="course">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input required minlength="5" ngModel name="courseName" #courseName="ngModel" id="courseName" class="form-control" />
      <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
        <div *ngIf="courseName.errors['required']">Course Name is required</div>
        <div *ngIf="courseName.errors['minlength']">Course Name must be at least {{ courseName.errors['minlength'].requiredLength }}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select required ngModel #category="ngModel" name="category" id="category" class="form-control">
        <option value=""></option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
        Category Field is required
      </div>
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input ngModel name="hasGuarantee" type="checkbox"> 30-day money-back guarantee
    </label>
  </div>
  <p>
    {{ courseForm.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!courseForm.valid">Submit</button>
</form>