<!-- <button (click)="ngOnDestroy()">Go Offline</button>

<ul>
  <li *ngFor="let course of courses$ | async">{{ course.$value }}</li>
</ul>

<p>
  {{ course$ | async | json }}
</p>
<p>
  {{ author$ | async | json }}
</p> -->

<!-- <ul *ngIf="author$ | async as author">
  <li>{{ author.name }}</li>
  <li>{{ author.students }}</li>
  <li>{{ author.isPremium }}</li>
</ul> -->

<input type="text" (keyup.enter)="add(course)" #course>
<ul>
  <li *ngFor="let course of courses$ | async">
    {{ course.$value || course.title }}
    <button (click)="update(course)">Update</button>
    <button (click)="delete(course)">Delete</button>
  </li>
</ul>